:root {
  /* colour pallette */
  --clr-primary-100: #6200ea;
  --clr-primary-200: #03dac6;
  --clr-primary-300: #4ef272;
  --clr-primary-400: #4754e1;
  --clr-primary-500: #345577;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #fff8e8;
  --clr-neutral-300: #303352;
  --clr-neutral-400: #1c2135;
  --clr-neutral-500: #000000;
  --clr-neutral-600: #696969;

  /* theme switcher btn */
  --btn-bg-color-light: #fff8e8;
  --btn-bg-color-dark: #1c2135;
  --btn-border-color-light: #1c2135;
  --btn-border-color-dark: #f0f0e8;
  --btn-sun-color: #fabc1c;
  --btn-moon-color: #fffdf2;
  --btn-day-bg-color: #0dbdf6;
  --btn-night-bg-color: #1c2135;
  --btn-cloud-color: #fffdf2;
  --btn-star-color: #fffdf2;

  --color-glow: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] {
  --color-background: var(--clr-neutral-400);
  --color-text: var(--clr-neutral-200);
  --color-accent: var(--clr-neutral-600);
  --color-background-inverted: var(--clr-neutral-200);
  --color-text-inverted: var(--clr-neutral-400);
}

[data-theme='light'] {
  --color-background: var(--clr-neutral-200);
  --color-text: var(--clr-neutral-400);
  --color-accent: #696969;
  --color-background-inverted: var(--clr-neutral-400);
  --color-text-inverted: var(--clr-neutral-200);
}
