:root {
  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Work Sans', sans-serif;
  --font-family-accent: 'Caveat', cursive;
  --text-color-light: #707070;
  --text-color-dark: #aaaaaa;
}
