nav.navigation {
  width: min(100%, 1200px);
  padding: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--font-family-secondary);
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -5px;
  margin-right: 10px;
  color: var(--color-text);
  text-decoration: none;
}

.accent-text {
  font-family: var(--font-family-accent);
  font-size: 18px;
  color: var(--color-accent);
  transform: rotate(-18deg);
  line-height: 0.8;
  margin-left: -5px;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-links {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links a {
  color: var(--color-text);
  text-decoration: none;
  margin: 0 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: linkFadeIn 0.8s forwards;
}

.nav-links a:nth-child(1) {
  animation-delay: 0.1s;
}

.nav-links a:nth-child(2) {
  animation-delay: 0.2s;
}

.nav-links a:nth-child(3) {
  animation-delay: 0.3s;
}

.nav-links a:nth-child(4) {
  animation-delay: 0.4s;
}

.nav-links.loaded a {
  opacity: 1;
  transform: translateY(0);
}

@keyframes linkFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dropdown menu styles */
.nav-links-dropdown {
  position: relative;
}

.nav-links-dropdown button {
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  font-size: 24px;
  height: 30px;
}

.nav-links-dropdown-content {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: var(--color-background);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links-dropdown-content a {
  color: var(--color-text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  animation: linkFadeIn 0.8s forwards;
}

.nav-links-dropdown-content a:nth-child(1) {
  animation-delay: 0.1s;
}

.nav-links-dropdown-content a:nth-child(2) {
  animation-delay: 0.2s;
}

.nav-links-dropdown-content a:nth-child(3) {
  animation-delay: 0.3s;
}

.nav-links-dropdown-content a:nth-child(4) {
  animation-delay: 0.4s;
}

.nav-links-dropdown-content.open a {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 1000px) {
  .nav-links {
    display: flex;
    position: static;
    transform: none;
    animation: none;
  }

  .nav-links-dropdown {
    display: none;
  }
}

@media (max-width: 999px) {
  .nav-right {
    margin-left: auto;
  }

  .nav-links-dropdown-content a {
    font-size: 1.5em;
  }

  .nav-links-dropdown {
    display: block;
  }

  .nav-links-dropdown-content.open {
    display: flex;
  }
}

/* Navigation link styles */
.nav-links a,
.nav-links-dropdown-content a {
  position: relative;
  color: var(--color-text);
  text-decoration: none;
  margin: 0 10px;
}

.nav-links a::after,
.nav-links-dropdown-content a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--color-accent);
  transition:
    width 0.4s ease,
    right 0.4s ease;
}

.nav-links a:hover::after,
.nav-links-dropdown-content a:hover::after {
  width: 100%;
  left: 0;
}

.nav-links.loaded a,
.nav-links-dropdown-content.open a {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
