/* client/src/components/hero-section/HeroSection.css */
.hero-section {
  width: min(100%, 1200px);
  margin: 32px auto 0 auto;
  text-align: center;
}

.hero-section__subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: var(--color-text);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}

.hero-section__title {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: 900;
  color: var(--color-text);
  margin-top: 8px;
  line-height: 1;
}
