/* client/src/components/hero-section/HeroSection.css */
.hero-section {
  width: min(100%, 1200px);
  margin: 32px auto 0 auto;
  text-align: left;
}

.hero-section__subtitle {
  font-family: 'Inter', sans-serif;
  display: inline-block;
  font-size: var(--fs-500);
  color: var(--color-text);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

.hero-section__title {
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-900);
  font-weight: 900;
  color: var(--color-text);
  margin-top: 8px;
  line-height: 1;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s; /* Title starts 0.5s after subtitle */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
