/* client/src/components/hero-section/LoadingBars.css */
.loading-bars {
  display: flex;

  justify-content: space-between;
  gap: 16px;
  margin: 16px auto 0 auto;
  width: min(100%, 1000px);
}

.loading-bar {
  width: min(100%, 320px);

  text-align: center;
}

.loading-bar__label {
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-400);
  color: var(--color-text);
  text-align: left;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-bottom: 8px;
}

.loading-bar__progress {
  height: 24px;
  background-color: var(--color-primary);
  width: 0;
  transition: width 1s ease-in-out;
  border-radius: 4px;
}

.loading-bar__progress.complete {
  width: 100%;
  background-color: #4ef272;
}

.loading-bar__status {
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-300);
  color: var(--color-text);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: none;
}

.loading-bar__status.complete {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.loading-bar__label.show {
  opacity: 1;
}
