/* client/src/components/hero-section/SignatureJW.css */

.svg-container {
  width: fit-content;
  height: auto;
}

svg {
  stroke-dasharray: var(--svg-length);
  stroke-dashoffset: var(--svg-length);
  animation: signature 1.5s ease 1s forwards;
}

@keyframes signature {
  to {
    stroke-dashoffset: 0;
  }
}
