/* client/src/components/App.css */
@import '../abstracts/colours.css';
@import '../abstracts/fonts.css';
@import '../base/reset.css';
@import '../base/typography.css';

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

main {
  padding: 16px;
}
