.menu {
  height: 30px;
  width: 30px;
  position: relative;
  margin: auto;

  border-radius: 100%;
  transition: 0.3s;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 30px;
  display: block;
  background-color: var(--color-background);
  margin: 0 auto;
  position: relative;
  background-color: var(--color-text);
  border-radius: 2px;
  transition: 0.4s;
}

.model-1 .bar {
  position: absolute;
}

.model-1 .bar:nth-of-type(1) {
  top: 4px; /* Closed position */
}

.model-1 .bar:nth-of-type(2) {
  top: 14px; /* Closed position */
}

.model-1 .bar:nth-of-type(3) {
  top: 24px; /* Closed position */
}

.model-1.open .bar:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.model-1.open .bar:nth-of-type(2) {
  opacity: 0;
}

.model-1.open .bar:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
