/* client/src/components/App.css */
@import '../../abstracts/colours.css';
@import '../../abstracts/fonts.css';
@import '../../base/reset.css';
@import '../../base/typography.css';

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-background);
}

.spinner {
  border: 8px solid var(--color-background);
  border-top: 8px solid var(--color-primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: none;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
